header {
    background-color: #004d99;
    padding: 15px 0;
    color: #fff;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.menu li {
    margin: 0 20px;
    position: relative;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.menu li a:hover {
    color: #ffcc00;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    list-style: none;
    padding: 10px 0;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    margin: 0;
}

.dropdown-menu li a {
    padding: 10px 20px;
    display: block;
}

.dropdown-menu li a:hover {
    background-color: #444;
}

.auth-buttons {
    display: flex;
    align-items: center;
}

.auth-buttons a,
.auth-buttons button {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.auth-buttons button:hover,
.auth-buttons a:hover {
    color: #ffcc00;
}

.auth-buttons span {
    margin-right: 10px;
}
